<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <h1>Your Cart</h1>

    <div id="cart"></div>

    <script>
        // Dom-Based XSS
        const item = new URLSearchParams(window.location.search).get('item') || "none";
        document.getElementById("cart").textContent = "Added item: " + item;
    </script>
</body>
</html>