<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Shop</title>
</head>
<body>
    <h1>Welcome to Mini-Shop</h1>

  <ul>
    <li><a href="/products">Products</a></li>
    <li><a href="/admin">Admin</a></li>
  </ul>
    
</body>
</html>
